[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.2"
drf-yasg = "1.21.5"
psycopg2-binary = "2.9.6"
djangorestframework = "3.14.0"
django-environ = "0.10.0"
django-allauth = "0.54.0"
djangorestframework-simplejwt = "5.2.2"
pillow = "9.5.0"
requests = "2.36.0"
dj-rest-auth = "4.0.1"

[dev-packages]
django-environ = "0.10.0"
black = "23.3.0"
faker = "18.7.0"
django-cors-headers = "4.0.0"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
